*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;

    scroll-behavior: smooth;
}
/*CABEÇALHO*/

header{
    height: 100vh;
    
    background-image: url(imagens/jp1.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    text-align: center;

    border-bottom: 2px solid #555;

}

#filtro{
    background-color: rgba(0, 0, 0, 0.6);

    height: 100vh;

}
.fa-map-marked-alt{
    color: #fff;
}
header h1{
    font-size: 24pt;
    letter-spacing: 2px;


    line-height: 60px;
    height: 60px;

    background-color: #111;
    color: #fff;
}

header h2{
    font-size: 40pt;

    margin-top: 100px;

    color: #fff;
}

#btn-home {
    padding: 0.9em 2em;
    border: 2px solid #fff;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    font-size: 16pt;
    color: #ddd;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #fff;
    margin-top: 30px;
    letter-spacing: 3px;
   }
   
#btn-home::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #fff;
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
#btn-home:hover::before {
    width: 105%;
   }
   
#btn-home:hover {
    color: #000;
    cursor: pointer;
   }
   
ul{
       display:none;
   }

/*CONTEUDO*/

#up{
    display: none;
}

section{
    padding: 20px 40px;

    background-color: #eee;

}

#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

iframe{
    width: 80%;

    margin: 15px auto;

    border-radius: 5px;

    box-shadow: 5px 5px 10px #555;

    
}

.card{
    height: max-content;
    width: 100%;

    background-color: #fff;

    border-radius: 5px;

    box-shadow: 5px 5px 10px #555;

    margin: 25px auto;
    padding: 5px;

    text-align: center;
}

.card img{
    width: 100%;
}

.btn{
    background: #07a7e3;

    color: #fff;

    padding: 0.9em 2em;
    
    border: 2px solid #fff;
    border-radius: 5px;
    
    
    text-align: center;
    
    font-size: 16pt;
        
    
    margin-top: 30px;
    letter-spacing: 3px;
}



#back{
    background: #000;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 44px;

    color: #fff;

    text-decoration: none;

    font-size: 25px;

}

footer{
    background: #111;
    
    height: max-content;

    padding: 10px;

    font-size: 20pt;

    color: #fff;
}

i{
    font-size: 30pt;
    margin-right: 5px;
}

.social{
    padding-left: 10px;
}

.social a{
    color: #fff;
}

@media (min-width:1024px){
    header ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        list-style: none;

        font-size: 20pt;

        margin-top: 25%;
    }

    header ul a{
        text-decoration: none;

        color: #fff;
    }

    header ul a:hover{
        color: #ccc;
        transition: all 0.2s;
    }

    #btn-home{
        display: none;
    }

    .btn{
        width:100%;
    }

    .btn:hover{
        background: rgba(7, 168, 227, 0.89);
        cursor: pointer;
    }
    .titulo-h1{
        font-size: 26pt;
    }
    #back:hover{
        background-color: rgba(0, 0, 0, 0.95);

        transition: all 0.2s;
    }
    .social a{
        color: #888;
    }
    .social a:hover{
        color: #fff;

        transition: all 0.2s;
    }   
    
    #up{
        display: inline;

        position: -webkit-sticky;
        position: sticky;
        top: 580px;
        left: 1250px;

        color: #07a7e3;

        font-size: 40pt;
    }

    #up:hover{
        cursor: pointer;
    }

    #up-a{
        text-decoration: none;
    }
}